body {
    background-color: #f8f9fa;
  }
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    font-weight: bold;
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 3px;
  }

  img {
  width: 350px;
  height: 100px;
  margin-bottom: 30px;
  }