{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{% static 'js/jquery.mask.js' %}"></script>
    <script defer src="{% static 'js/jquery.mask.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>PrognostiCare - Casdastro Login</title>
</head>

<body>
    <main>
        <div class="itens">
            <div class="titulo_ferramenta">
                <h1>Cadastre-se</h1>
            </div>
            <form class="infos_login" method="POST"> {% csrf_token %}
                <div class="usuario_login">
                    <h2>Usuário:</h2>
                    <input name="username" type="text" placeholder="Usuário">
                </div>
                <div class="email_login">
                    <h2>Email:</h2>
                    <input name="email" type="text" placeholder="E-mail">
                </div>
                <div class="senha_login">
                    <h2>Senha:</h2>
                    <input name="password" type="password" placeholder="Senha">
                </div>
                <div class="re-senha_login">
                    <h2>Repitir Senha:</h2>
                    <input name="re-password" type="password" placeholder="Repita a senha">
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
            {% if messages %}
            {% for message in messages %}
            <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>
    </main>
</body>

</html>