{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script defer src="{% static 'js/jquery.mask.js' %}"></script>
    <script defer src="{% static 'js/jquery.mask.min.js' %}"></script>
    <title>PrognostiCare - Login</title>
</head>

<body>
    <h1>Login</h1>
    <form method="POST"> {% csrf_token %}
        <input type="text" name="username" id="" placeholder="Login">
        <input type="password" name="password" id="" placeholder="Senha">
        <button type="submit">Entrar</button>
    </form>
    <a class="cadastrar" href="{% url 'cadastrar' %}">Não possui cadastro? Clique aqui!</a>

    {% if messages %}
        {% for message in messages %}
            <h3 class="mensagem" >{{ message }}</h3>
        {% endfor %}
    {% endif %}

</body>

</html>